* {
    box-sizing: border-box;
    font-family: 'Roboto';

    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
}

main {
    height: 90%;
}

nav {
    width: 50%;
    text-align: right;
    padding-right: 2em;
}

nav > ul {
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    padding: 0.5em;
}

nav > ul > li.active-page {
    background-color: rgb(0,120,0);
}

nav > ul > li > a  {
    text-decoration: none;
    color: rgb(0,120,0);

    font-size: 0.8em;
}

nav > ul > li.active-page > a {
    color: white;
}

header > h1 {
    font-size: 4em;
}

header > div.logo {
    font-family: 'Style Script';
    font-weight: bolder;
    font-size: 2.5em;
    color: rgb(0,120,0);

    text-align: left;
    width: 50%;
    padding-left: 1em;
}

.jumbotron {
    background: url('/images/jumbotron_green.svg') no-repeat 100%;
    background-size: cover;
    color: white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron > h1 {
    font-size: 4em;
}

.content {
    display: flex;
    flex-direction: column;
}

.content > section {
    padding: 2em 12em 2em 12em;
    display: flex;
    column-gap: 3em;
}

.content > section:nth-child(even) {
    background-color: rgb(0,120,0);
    color: white;
}

.content > section > div {
    width: 50%;
}

.content > section > div > h2 {
    font-weight: 900;
}

.content > section > div > p {
    text-justify: auto;
}

.content > section.centered-section {
    justify-content: center;
    align-items: center;
}

.icon {
    max-width: 3%;
    height: auto;
}

.footer {
    display: flex;
    background: rgb(200, 200, 200);
}

.icon-list {
    display: flex;
    column-gap: 1em;
}